header {
    background-color: red;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

body {
    margin: 0px;
    padding-top: 132px;
    background-color: rgb(102, 102, 156)
}
    .txt {
    font-size: 24px;
    color: red
    }
    #info {
    font-family: Verdana
    }
    