header {
    background-color: red;
    position: fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-size: small;
    color:rgb(0, 0, 0);
}

body {
    margin: 0px;
    padding-top: 132px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url(/download2.jpg);
}
    #info {
    font-family: Verdana
    }
    #lista{
        color:rgb(0, 0, 0);
        background-color:rgb(255, 255, 255);
        height:20px;
        display:flex;
    }
    #cima{
        display:flex;
        align-items: center;
    }
    #baixo{
        color:rgb(0, 0, 0);
        font-style: italic;
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        background-color: rgb(255, 255, 255);
        height: 20px;
    }
    .op{
        border: 3px double black;
        text-align: center;
        
    }
    .titulos{
        display: flex;
        justify-content: center;
        background-image: url(/fundoazul.jpg);
        font-family:OCR A Std, monospace;
    }
    .subtitle{
        color:yellow
    }
    .subtitle:hover{
        color:blue
    }
    
